<thead>
    <tr>
        <td class="sysinfo" colspan="{{ len .Columns }}">
            <div style="display: inline-grid; grid-template-columns: 33% 33% 34%; grid-template-rows: 50% 50%; width: 100%;">
                <div style="border: 1px black solid;">1</div>
                <div style="border: 1px black solid;">2</div>
                <div style="border: 1px black solid;">3</div>
                <div style="border: 1px black solid;">4</div>
                <div style="border: 1px black solid;">5</div>
                <div style="border: 1px black solid;">6</div>
            </div>
        </td>
    </tr>
</thead>
<tbody>
    <tr>
    {{ range $i, $column := .Columns }}
        <td class="column" id="{{ $i }}">
            {{ range $i, $group := $column.Groups }}
                <fieldset class="group">
                    <legend>
                        [&nbsp;{{ $group.Name }}&nbsp;]
                    </legend>
                    <div class="group">
                        {{ range $j, $sensor := $group.Sensors }}
                            <div id="json-{{ $sensor.Pvt.Id }}" hidden>{{ $sensor.Json }}</div>
                            <div class="sensor" id="{{ $sensor.Pvt.Id }}" onClick="popupEditor('{{ $sensor.Pvt.Id }}');"></div>
                        {{ end }}
                    </div>
                </fieldset>
            {{ end }}
        </td>
    {{ end }}
    </tr>
</tbody>
