{{ if .Priv.Online }}
<div class="sensor">
{{ else }}
<div class="sensor" style="opacity: 0.2;">
{{ end }}
    {{ if ne .Name .Group }}
        <i>{{ .Name }}</i>
    {{ end }}
    <div class="gauge_text">{{ .Priv.Value }}&nbsp;{{ .Units }}
        {{ if .Percents }}
        <div class="gauge" style="clip-path: inset(0 {{ .Priv.Percent100 }}% 0 0);">
            <div class="gauge_text">{{ .Priv.Value }}&nbsp;{{ .Units }}
            </div>
        </div>
        {{ end }}
    </div>
</div>
