:root {
    user-select: none;
    touch-action: pan-x pan-y;
    height: 100% 
    /* put it here? overscroll-behavior: contain; */ 
}

body {
    overscroll-behavior: contain; /* or none */
    background: black;
    background-image: url('bg-gray.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    /*background-attachment: fixed;*/
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    color: white;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0;
    padding: 0;
    padding-top: 0px;
    padding-bottom: 0;
}

table.main {
    border: 0;
    width: 100%;
    table-layout: fixed;
    border-spacing: 5px;
}

td.column {
    vertical-align: top;
    width: auto;
    /*margin: 10px;*/
}

fieldset.group {
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 0.5em;
    margin-bottom: 1.3em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    padding-bottom: 0;
/*
    padding-top: 5px;
    padding-bottom: 5px;
*/
    background: rgba(50, 50, 50, 0.9);
    box-shadow: 7px 7px 5px 5px rgba(0, 0, 0, 0.7);
}

div.group {
    text-align: left;
    width: 100%;
}

legend.group-name {
    border: 0px solid white;
    border-radius: 6px;
    background: #606060;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.7);
}

div.sensor {
    width: 100%;
    text-align: left;
    color: gray;
    margin-bottom: 10px;
}

div.widget_container {
    display: inline-block;
    position: relative;
    background: transparent;
    border: solid 1px gray;
    border-radius: 6px;
    height: 1.2em;
    width: 100%
}

div.widget {
    display: inline-block;
    position: absolute;
    border-radius: 6px;
    border: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 9;
}

div.widget_text {
    display: inline-block;
    position: absolute;
    border: 0;
    border-radius: 6px;
    color: white; /* default */
    /*text-shadow: 0 0 20px black, 0 0 20px black, 0 0 20px black;*/
    /*text-shadow: -1px 0 #202020, 0 1px #202020, 1px 0 #202020, 0 -1px #202020;*/
    text-shadow:
        -1px -1px 0 #000,
         0   -1px 0 #000,
         1px -1px 0 #000,
         1px  0   0 #000,
         1px  1px 0 #000,
         0    1px 0 #000,
        -1px  1px 0 #000,
        -1px  0   0 #000;
    /*text-shadow:
        -1px -1px 0 #000,
        0px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        0px 1px 0 #000,
        1px 1px 0 #000; */
    mix-blend-mode: difference;
    text-align: center;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 10;
}

div.editor {
    width: 50%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    /*width: 70%;*/
    transform: translate(-50%, -50%);
    background: rgba(70, 70, 70, 1.0);
    z-index: 100;
    border: 1px white solid;
    border-radius: 8px;
    box-shadow: 20px 20px 5px 5px rgba(0, 0, 0, 0.7);
    padding: 5px;
    margin: 0 auto;
}

div.editor fieldset {
    border-radius: 6px;
    width: auto;
}

div.editor .buttons {
    position: relative;
    text-align: center;
}

div.editor label {
    display: inline-block;
    width: 50%;
    text-align: right;
    margin: 3px;
    font-style: italic;
}

div.editor input[type='text'], 
div.editor input[type='number'], 
div.editor select {
    box-sizing: border-box;
    border: 1px solid black;
    display: inline-block;
    text-align: left;
    border-radius: 4px;
    width: 30%;
}

/* dunno why 
div.editor select {
    width: 40%;
}
*/

#settings-editor {
    width: auto;
    justify-content: center;
}

#settings-editor input {
    text-align: center;
    width: 100%;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
}

div.info-window {
    display: none;
    position: fixed;
    z-index: 200;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.7);
    padding: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(180, 180, 10, 1.0);
    color: black;
}

div.sysinfo-hostname {
    border: 2px outset white;
    border-radius: 5px;
    color: white;
    background: rgba(50, 50, 50, 0.9);
    margin: 3px;
    text-align: center;
}


div.sysinfo-time {
    border: 2px outset white;
    border-radius: 5px;
    color: white;
    background: rgba(50, 50, 50, 0.9);
    margin: 3px;
    text-align: center;
}

div.sysinfo-la {
    border: 2px outset white;
    border-radius: 6px;
    color: white;
    background: rgba(50, 50, 50, 0.9);
    margin: 3px;
    text-align: center;
}

div.sysinfo-mem {
    border: 2px outset white;
    border-radius: 6px;
    color: white;
    background: rgba(50, 50, 50, 0.9);
    margin: 3px;
    text-align: center;
}

div.sysinfo-settings {
    background: transparent;
    width: 100%;
    height: 100%;
}

input.settings {
    padding: 0;
    border: 0;
    float: right;
    width: 100%;
    height: 100%;
    background: url('/gear.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
}

fieldset.widget-color-maker {
    justify-content: center;
    width: 60%;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
}

input.sensor-edit-widget-color-slider {
    border-radius: 5px;
    width: 100%;
    height: 1em;
    -webkit-appearance: none;
}

input.color-picker {
    height: 1em;
    padding: 0px; 
    border-color: transparent;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

input.color-picker::-webkit-color-swatch-wrapper {
    padding: 0; 
    border-color: transparent;
    border: 0;
}

input.color-picker::-moz-color-swatch,
input.color-picker::-webkit-color-swatch {
    border-radius: 5px;
    border: 0;
    border-color: transparent;
}

div.help-page {
    justify-content: center;
    overflow-y: scroll;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 95%;
    width: 50%;
    z-index: 999;
    background: #C0C0C0;
    color: black;
    border: 1px solid white;
    border-radius: 6px;
    box-shadow: 7px 7px 5px 5px rgba(0, 0, 0, 0.7);
}
