<thead>
    <tr>
        <td class="sysinfo" colspan="{{ len .Columns }}">
            <div style="display: inline-grid; grid-template-columns: 33% 33% 34%; grid-template-rows: 50% 50%; width: 100%;">
                <div style="border: 1px black solid;">1</div>
                <div style="border: 1px black solid;">2</div>
                <div style="border: 1px black solid;">3</div>
                <div style="border: 1px black solid;">4</div>
                <div style="border: 1px black solid;">5</div>
                <div style="border: 1px black solid;">6</div>
            </div>
        </td>
    </tr>
</thead>
<tbody>
    <tr id="columns">
    {{ range $ci, $column := .Columns }}
        <td class="column" id="{{ $ci }}">
            {{ range $gi, $group := $column.Groups }}
                {{ if not $group.Sensors }}
                    {{ continue }}
                {{ end }}
                {{ if $group.Disabled }}
                    {{ continue }}
                {{ end }}
                <fieldset class="group" id="{{ $group.Id }}" title="click to edit or move this group">
                    <legend onClick="editGroup('{{ $group.Id }}', '{{ $group.Name }}', '{{ $ci }}');">
                        [&nbsp;{{ $group.Name }}&nbsp;]
                    </legend>
                    <div class="group">
                        {{ range $si, $sensor := $group.Sensors }}
                            <div id="json-{{ $sensor.Id }}" hidden="">{{ $sensor.Json }}</div>
                            <div class="sensor" id="{{ $sensor.Id }}" onClick="editSensor('{{ $sensor.Id }}', '{{ $group.Name }}');" title="click to edit this sensor"></div>
                        {{ end }}
                    </div>
                </fieldset>
            {{ end }}
        </td>
    {{ end }}
    </tr>
</tbody>
