<thead>
    <tr>
        <td class="sysinfo" colspan="{{ len .Config.Columns }}">
            <div style="display: inline-grid; grid-template-columns: 24% 24% 24% 24% auto; grid-template-rows: 100%; width: 100%; height: 5%;">
                <div class="sysinfo-hostname" id="sysinfo-hostname">{{ .HostName }}</div>
                <div class="sysinfo-time" id="sysinfo-time"></div>
                <div class="sysinfo-la" id="sysinfo-la"></div>
                <div class="sysinfo-mem" id="sysinfo-mem"></div>
                <div class="sysinfo-settings"><input type="button" class="settings" onClick="return showSettings();" title="Settings"></div>
            <div>
        </td>
    </tr>
</thead>

<tbody>
    <tr id="columns" data-columns-num="{{ len .Config.Columns }}">
    {{ range $ci, $column := .Config.Columns }}

        <td
            class="column"
            id="{{ $ci }}"
            data-groups-num="{{ len $column.Groups }}">
            {{ range $gi, $group := $column.Groups }}

                <fieldset
                    class="group"
                    id="{{ $group.Id }}"
                    name="group"
                    data-group-name="{{ $group.Name }}"
                    data-sensors-num="{{ len $group.Sensors }}"
                    data-column="{{ $ci }}"
                    title="click to edit or move this group">

                    <legend onClick="editGroup('{{ $group.Id }}');" class="group-name">
                        &nbsp;{{ $group.Name }}&nbsp;
                    </legend>

                    {{ range $si, $sensor := $group.Sensors }}
                        <div id="json-{{ $sensor.Id }}" hidden>{{ $sensor.Json }}</div>
                        <div
                            class="sensor"
                            id="{{ $sensor.Id }}"
                            name="sensor"
                            data-sensor-name="{{ $sensor.Widget.Name }}"
                            data-group-id="{{ $group.Id }}"
                            title="click to edit or move this sensor"
                            onClick="editSensor('{{ $sensor.Id }}');">
                        </div>
                    {{ end }}

                </fieldset>

            {{ end }}

        </td> <!-- groups -->
    {{ end }}

    </tr> <!-- columns -->
</tbody>
