{{ if .Pvt.Offline }}
<div class="sensor" style="opacity: 0.2;">
{{ else }}
<div class="sensor">
{{ end }}
    <i>{{ .Name }}</i>
    <div class="gauge_text">{{ .Pvt.Value }}&nbsp;{{ .Widget.Units }}
        <div class="gauge" style="clip-path: inset(0 {{ .Pvt.AntiPercents }}% 0 0);">
            <div class="gauge_text">{{ .Pvt.Value }}&nbsp;{{ .Widget.Units }}
            </div>
        </div>
    </div>
</div>
